* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

   body {
    background-color: #DECBB7;
  }

  /* Products Container Body */
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    flex-basis: auto;
    width: 100%;
    padding: 0;
  } 

  /* Single Product Card */
  .single-product {
    background-color: #f2f2f2;
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    border:solid black 2px;
  }

  .photo {
      height: 100px;
      width: 100px;
  }


  /* Checkout Page */
  .Checkout-button {
    background-color: #f2f2f2;
    border-radius: 10%;
    align-items: center;
    font-size: large;
    padding: 2%;
  }
  .Checkout-button #text {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }
  input {
    border-radius: 5%;
    margin: 8px;
    padding: 10px 10px 10px 20px;
  }